@using Sandbox;
@using Sandbox.UI;
@using System.Collections.Generic;
@using System.Linq;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="chest">
		<div class="item-section">
			<Image Texture=@ShownItem.Icon class="item-render"/>
			<div class="@(timeSinceStart > TimeToOpen ? "" : "hidden")">@ShownItem.Name</div>
		</div>
		<div class="options">
			<div class="reject" onclick=@(() => Reject())>Reject</div>
			<div class="accept" onclick=@(() => Accept())>Accept</div>
		</div>
	</div>
</root>

@code
{
	public List<ItemDefinition> PotentialItems { get; set; } = new();
	public ItemDefinition SelectedItem => PotentialItems.First();
	public ItemDefinition ShownItem = new ItemDefinition();
	RealTimeSince timeSinceStart = 0;
	int TimeToOpen = 2;

	protected override void OnStart()
	{
		GameTask.RunInThreadAsync(async () =>
        {
	    	int currentIndex = 0;

	    	while ( timeSinceStart < TimeToOpen )
	    	{
	    	    float progress = timeSinceStart / TimeToOpen;
	    	    int delay = (int)MathX.Lerp( 100, 300, progress );
	    	    ShownItem = PotentialItems[currentIndex];
	    	    currentIndex = (currentIndex + 1) % PotentialItems.Count;
	    	    await GameTask.Delay( delay );
	    	}

	    	ShownItem = SelectedItem;
			await GameTask.MainThread();
        });
	}

	public void Accept()
	{
		MagnetPlayer.Local.GiveItem( SelectedItem );
		Destroy();
	}

	public void Reject()
	{
		Destroy();
	}

	protected override int BuildHash() => System.HashCode.Combine( ShownItem );
}