ChestTooltip
{
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	color: #fff;
	font-size: 20px;

	.tooltip
	{
		justify-content: center;
		align-items: center;
	}

	Image
	{
		width: 25px;
		aspect-ratio: 1;
	}
}