@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="tooltip">Press<Image Texture=@Input.GetGlyph("use", InputGlyphSize.Medium, true)/>to open</div>
</root>

@code
{


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( 0 );
}